*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER*/

header .contenedor-h-index{
    flex-direction: column;
    text-align: center;
}
header{
    padding: 30px 0;
}

header .contenedor-h-index{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logop{
    height: 50px;
    width: 49px;
    border-radius: 0%;
}

header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
    transition: all 300ms;
}

header nav a:hover,
header nav a.activo{
    color: #FFF;
    background-color: rgba(25, 25, 48, 0.274);
    border-radius: 100px;
}

/*BODY/MAIN*/

body{
    background: #373B44; 
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  
    background: linear-gradient(to right, #4286f4, #373B44); 
    font-family: 'Open Sans', sans-serif;

}




.ver_mas{
    color: white;
    text-decoration: none;
}
/*BODY, SELECCIÓN DE PELÍCULAS y SERIES*/

.contenedor-cartelera{
    width: 90%;
    margin: auto;
}
.cont-listas_series{
    display:  flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    width: 96%;  
}
.cont-listas_pelis{
    display:  flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    width: 96%;  
}
.cont-listas_latest{
    display:  flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    width: 96%;  
}
.titulos{
    color: white ;
    padding: 35px;
    text-decoration: none;
}

 .item{
    /* padding: 15px; */
    width: 150px;
    transition: all 300ms;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a {
    color: white;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-decoration: none;
}




.item:hover{
    transform: scale(1.15);
}
img{
    width: 200px;
    border-radius: 30px;
}
h3{
    color: white;
    text-decoration: none;


  }

p{
    color: white;
    text-align: start;
    font-family:'Open Sans', sans-serif; 
    text-decoration: none;
}

/*RESULTADOS DE BUSQUEDA HTML*/
.tituloBusqueda{    color: white;
        font-family:'Open Sans', sans-serif; 
    text-decoration: none;
}
.resultadoBusquedaP{
    display:  flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    width: 96%;  
}
.resultadoBusquedaS{
    display:  flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    width: 96%;  
}

/*GÉNEROS HTML*/

.generosPadre{
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}
   
.generosPadre .generos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
  
 }
 .generoa{
 color: white;
  background-color: rgba(170, 170, 170, 0.393);
 padding: 70px;
 margin: 10%;
 border-radius: 100px;
 font-weight: normal;
 font-size: 45px;
 align-items: center;
 justify-content: center;
 text-decoration: none;
 }

  
.main-generos{
    background-image: url("");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    margin: 0px;
}
.generosSeries{
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}
   
.generosSeries .generos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
  
 }

/*GÉNEROS DETAIL HTML*/

.contenedor-agregados-recientemente {
    width: 90%;
    margin: auto;
}
.cont-listasSeries{
    display:  flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    width: 96%;  
}
.cont-listasPelis{
    display:  flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    width: 96%;  
}
/*FAVORITOS*/

.contenedor-generos{
    width: 90%;
    margin: auto;
}

/*SERIES Y PELICULAS (DETAIL)*/

.main-serie{
    background-color: linear-gradient(to right, #4286f4, #373B44);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

.main-movie{
    background-color: linear-gradient(to right, #4286f4, #373B44);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cont-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    text-align: left;
}

.cont-detail .item-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: rgba(170, 170, 170, 0.393);
    padding: 100px;
    margin: 0px;
    border-radius: 100px;
}

.genero-en-detail{
    color: white;
    text-decoration: none;
}

.boton-fav{
    background:  rgba(28, 127, 51, 0.288);
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;

}

button.btn-recomendaciones {
    background-color: rgba;
    background: rgba(28, 127, 51, 0.288);
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
}

.mostrar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.recomendaciones li {
    width: 10vw;
    list-style: none;
}

.recomendaciones li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.ocultar {
    display: none;
}




.boton-fav:hover{
    background-color:blue;
}
.boton-fav i{
    margin-right: 20px;
}

.botonSimil{
    background: rgba(28, 127, 51, 0.288);
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
}

.botonSimil:hover{
    background-color:blue;
}

/* footer */

footer{
    
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
footer .dataBase img {
    width: 30%;
    padding-bottom: 20px;
}


/* medida queries */

@media screen and (max-width: 800px){
    header .logo{
        margin-bottom: 20px;
        font-size: 50px;
    }
    .cont-listas{
        display: block;
        height: auto;

    }
}
    


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loader{
    background-color: linear-gradient(to right, #4286f4, #373B44);
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.8s ease-in-out;
}
   .loader2{
    clip-path: circle(0% at 100% 100%);
   } 
